@import "mixins/mixins";

// Fonts
// ----------------------------------------
$font-path:     "fonts/";
//$fa-font-path:  "fonts/font-awesome/";

@mixin font-face($font-family, $file, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('#{$font-path}#{$file}.eot');
      src: url('#{$font-path}#{$file}.eot?#iefix') format('embedded-opentype'),
           url('#{$font-path}#{$file}.woff') format('woff'),
           url('#{$font-path}#{$file}.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

// Include Fonts
@include font-face('Open Sans', 'OpenSans-Light-webfont', 300, normal);
@include font-face('Open Sans', 'OpenSans-LightItalic-webfont', 300, italic);

@include font-face('Open Sans', 'OpenSans-Regular-webfont', 400, normal);
@include font-face('Open Sans', 'OpenSans-Italic-webfont', 400, italic);

@include font-face('Open Sans', 'OpenSans-Semibold-webfont', 600, normal);
@include font-face('Open Sans', 'OpenSans-SemiboldItalic-webfont', 600, italic);

@include font-face('Open Sans', 'OpenSans-Bold-webfont', 700, normal);
@include font-face('Open Sans', 'OpenSans-BoldItalic-webfont', 700, italic);

@include font-face('Open Sans', 'OpenSans-ExtraBold-webfont', 800, normal);
@include font-face('Open Sans', 'OpenSans-ExtraBoldItalic-webfont', 800, italic);

@include font-face('FontAwesome', 'fontawesome-webfont', normal, normal);


//Google family Fonts URL
//$font-family-url: "//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"  !default;
$font-family: "Open Sans", Helvetica, sans-serif !default;

$weight-light:        300;
$weight-regular:      400;
$weight-semibold:     600;
$weight-bold:         700;
$weight-extrabold:    800;

$default-font-size:   14px !default;
$default-font-weight: 400 !default;										// 400 or 700 as you wish
$header-font-family:  $font-family;
$header-font-weight:  700 !default;										// 400 or 700 as you wish

// Vula Colour Palette
// ----------------------------------------

// Primary
$color-primary: rgba(0, 153, 255, 1);
$color-secondary: rgba(0, 34, 56, 1);
$color-success: rgba(82, 165, 54, 1);
$color-warning: rgba(239, 199, 119, 1);
$color-alert: rgba(145, 53, 58, 1);

// Grays
$color-black: rgba(0, 0, 0, 1);
$color-gray-darker: rgba(30, 32, 34, 1);
$color-gray-dark: rgba(65, 70, 73, 1);
$color-gray: rgba(151, 154, 155, 1);
$color-graylight: rgba(227, 228, 229, 1);
$color-graylighter: rgba(249, 250, 251, 1);
$color-white: rgba(255, 255, 255, 1);

$primary-color:    	$color-primary !default;

$text-color:				 $color-gray-dark !default;

// Link colors
$link-color: darken($primary-color, 12%) !default;
$link-active-color: $primary-color !default;
$link-hover-color: $primary-color !default;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

$background-color: 			 $color-white !default;
$background-color-secondary: $color-gray-darker !default;

$tool-background-color: $color-white !default;
$tool-menu-color: $color-gray-darker !default;




/* Linknav button colors */
//$button-text-color:	 #777 !default;
//$button-border-color: #C0C0C0 !default;
//$button-background-color: #F0F0F0 !default;
//$button-background-secondary-color: #FFF !default;

/* General button colors */
//$button-color-text-color: #FFF !default;
//$button-color-border-color: #4a8db3 !default;
//$button-color-background-color: #60b3e3 !default;
//$button-color-background-secondary-color: #5299c2 !default;
/* ///////////// */

$okcolor: $color-success !default;
$errorcolor: $color-alert !default;
$warncolor: $color-warning !default;

//$swapped-view-primary: #CE9466 !default;
//$swapped-view-text-color: #302436 !default;


// Calendar 
// ----------------------------------------

$calendar-event-background-color: $primary-color !default;
$calendar-event-text-color: $text-color !default;


// Logo
// ----------------------------------------

$logo: 'images/logo.svg' !default;
$logo-height: 4em !default;
$logo-width: 4em !default;

// Header and Menus
// ----------------------------------------

$header-size : 5em !default;
$top-header-background: $color-secondary;

$topNav-text-color:                         $color-white !default; /* used for links and text in the topNav */
$topNav-text-alt-color:                     $color-graylight !default;

//$sites-nav-menu-item-background:            $color-graylighter !default;
//$sites-nav-menu-item-color:                 $color-gray-dark !default;
//$sites-nav-menu-item-color-hover:           $color-gray-darker !default;

$sites-nav-menu-item-background:          $link-color !default;
$sites-nav-menu-item-background-hover:    $link-hover-color !default;
$sites-nav-menu-item-color:               $color-graylighter !default;
$sites-nav-menu-item-color-hover:         $color-white !default;

$sites-nav-menu-item-border-top:            1px solid transparent !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          none !default;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           none !default;

//$sites-nav-menu-item-selected-background:   $link-color !default;
//$sites-nav-menu-item-selected-color:        $color-graylighter !default;
//$sites-nav-menu-item-selected-color-hover:  $color-white !default;

$sites-nav-menu-item-selected-background:            darken($color-graylighter, 5%) !default;
$sites-nav-menu-item-selected-background-hover:      $color-white !default;
$sites-nav-menu-item-selected-color:                 $color-gray-dark !default;
$sites-nav-menu-item-selected-color-hover:           $color-gray-darker !default;

$sites-nav-menu-item-selected-border-top:   $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: none !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  none !default;

$sites-nav-submenu-background:              $color-graylighter !default;
$sites-nav-submenu-item-background:         $color-graylighter !default;
$sites-nav-submenu-item-background-hover:   $color-gray-dark !default;

$sites-nav-submenu-item-color:              $color-gray-darker !default;
$sites-nav-submenu-item-color-hover:        $color-white !default;

$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;

$sites-nav-submenu-selected-background:     $color-graylighter !default;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color !default;
$sites-nav-submenu-item-selected-border:    none !default;


/* General button colors */
$button-color-text-color: #FFF !default;
$button-color-border-color: darken($link-color, 12%) !default;
$button-color-background-color: $link-color !default;
$button-color-background-secondary-color: $link-hover-color !default;
/* ///////////// */


// Breadcrumbs
$breadcrumbs-color:			 $text-color !default;
$breadcrumbs-tool-color:		 lighten($color-secondary,20%) !default;
$breadcrumbs-hover-color:		 lighten($color-secondary,30%) !default;

// Navigation Hierarchy
$hierarchy-size: 3.5em !default;

// Tool Menu
$tool-menu-width: 12em !default;
$tool-menu-width-collapsed: $tool-menu-width / 4 !default;

$tool-background-color:		 $background-color !default;
$tool-menu-background-color:			 $color-graylighter !default;
$tool-menu-color: 			 $color-gray-dark !default;
$tool-tab-background-color: 			 #F8F8F8 !default;
$tool-border-color:			 #E0E0E0 !default;
$tool-tab-active-background-color: 			 $background-color !default;
$tool-tab-active-border-color: 	 $background-color !default;

$tool-menu-hover-color: $color-gray-darker !default;
$tool-menu-hover-background-color: $color-graylight !default;
$tool-menu-current-background-color: $background-color !default;
$tool-menu-current-color: $color-secondary !default;
$tool-menu-current-border-color: $color-secondary !default;

$tool-sub-menu-border-color: darken( $tool-menu-background-color, 10% ) !default;
$tool-sub-menu-background-color: darken( $tool-menu-background-color, 10% ) !default;
$tool-sub-menu-hover-background-color: $color-secondary !default;
$tool-sub-menu-hover-color: #FFF !default;
$tool-sub-menu-current-color: $color-secondary !default;
$tool-sub-menu-current-background-color: $background-color !default;
$tool-sub-menu-current-hover-color: $tool-menu-color !default;
$tool-sub-menu-current-hover-background-color: $background-color !default;

$tool-nav-link-color: $color-gray-dark !default;

// Footer
// ----------------------------------------
$footer-background: $color-graylighter !default;
$footer-color: $text-color !default;

// Layout
// ----------------------------------------

// Golden Ratio width for 16px font http://www.pearsonified.com/typography/
// $measure: 960px !default;

// Helpers
$z-0:                             0;
$z-1:                            10;
$z-10:                          100;
$z-20:                          200;
$z-30:                          300;
$z-40:                          400;
$z-50:                          500;
$z-60:                          600;
$z-70:                          700;
$z-80:                          800;
$z-90:                          900;
$z-100:                         1000;
$max-z:                         2147483647 - 100;

// Border
// ----------------------------------------

$main-border-radius:           0.4em; // ± 4px
$small-border-radius:           0.2em; // ± 2px

// Border
// ----------------------------------------
$std-shadow: 0 3px 2px rgba( $text-color, 0.35);