// UCT Specific tweaks

.#{$namespace}pagebody{
 
    #blti-main-link {
        @include sakai_secondary_button();
    }

    table.externalToolContainerClass {
        a {
            text-decoration: none;

            i {
                padding-right: 4px;
            }

            &:hover, &:active{
                span {
                    text-decoration:underline;
                }
            }
        }
    }

    .tool_list {
        li.editable_item {
            width: 100%;
            margin: 0px;
            padding: 4px;
            border: 1px solid $secondary-color;
        }

        li.editable_item ~ .editable_item {
            margin-top: 5px;
        }

        .item_edit_box {
            margin-top: 10px;
            padding: 10px;
            border-top: 1px dotted #DDD;
            
            label {
                text-align: right;
                min-width: 44px;
                margin-right: 5px;
            }
            input {
                @extend .form-control;
                padding: 6px;
                display: inline-block;
                width: calc(100% - 65px);
            }

            > a {
                border-radius: $main-border-radius;
                margin-left: 50px;
                padding: 0px 4px 4px;
                position: relative;
                top: 5px;

                &:hover, &:active {
                    background-color: darken( $tool-menu-background-color, 10% );
                }

                &:last-child {
                    margin-left: 5px;
                }
            }
        }
    }
}

body.#{$namespace}portalBody{

    // lesson builder drop downs
    div[role="dialog"] {
        box-shadow: $std-shadow;

        &.ui-corner-all.ui-dialog {
            border-radius: $main-border-radius;
            border-top-left-radius: 0px;
            border-color: $tool-border-color;
            padding: 3px;

            .ui-widget-header {
                border-radius: $small-border-radius $small-border-radius 0px 0px;
            }

            .ui-dialog-content { // .dropDownDiv
                box-shadow: none;
                margin-left: 0px;
                border-radius: 0px 0px $small-border-radius $small-border-radius;
                border-width: 0px !important;
    
                .instruction {
                    border-color: #eee;
                }
            }
        }

        
    }
}

// Tasneem
// changing the background of the student comment [UCT]-TJ
.commentsCell {
    .commentsDiv {
        .replaceWithComments {
            .commentDiv{
                background-color: rgba($primary-desaturate, 0.1);

                .comment-image {
                    display: inline-block;
                }
                
                a {
                    &.deleteLink, &.editLink, &.replyLink {
                      /* border: 1px solid black; */
                    }
                }

                h3.author {
                    color: $text-color;
                    padding: 0px;
                    background-color: transparent !important; // changing background of white block behind person's name on comments
                    margin-right: 12px; // same as in stylesheet
                    font-weight: 600;

                    &.personalComment {
                      color: $primary-color;
                      font-weight: 700;
                    }
                }

            }
        }

        // student comments tool button, looks like standard Vula button but does not pop enough[UCT]-TJ
        .add-comment-button .ui-button {
            @include sakai_secondary_button();
        }
    }
}

/*
//changing left insight ckeditor template colour
.left-insight p {
    background-color: rgba(0,152,219,0.2)!important;
}

//changing right insight ckeditor template colour
.right-insight p {
  background-color: rgba(219, 81, 0, 0.2)!important;
}

// changing ckeditor panel template colour to darker blue 
.panel-primary > .panel-heading
{
  background-color: #005590;
  border-color: #005590;
}

//change the content link style 
.link-div {
font-weight: 600; //making it bolder to be more visible 

}

// custom lessons dark blue header 

    .header {
      text-align: left;
            color: #005590;
    
      //padding: 12px;
    //text-align: center;
    //background: #005590;
    // color: white;
    //border-radius: 1px;
    }

    .header .headerfont {
        font-size: 30px;
    }
    
//Vula main login header
    .Mrphs-mainHeader {
        .Mrphs-headerLogo {
            background: #005590;
            background-image:
            linear-gradient(45deg,
                #001231, #005590, #337ab7);
      animation: gradient 15s ease infinite;
        background-size: 400% 400%;
                             }
    }

   @keyframes gradient {
         0% {
            background-position: 0% 50%;
        }
        50% {
           background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    } 

//QUESTION Tool background change

.column .questionDiv .contentCol {
   // background-color: rgba(0,152,219,0.2);
    border-radius: 1px;
    background-color: #eaf2f5;
    box-shadow: 0 0 3px 0 rgba(46,60,73,0.2);
    border: 1px solid #dbe2e8;
    background-color: #fff; }
    
    .mainList div.question .multipleChoiceAnswer {
    padding: 10px 10px;
     &:hover  {
      background-color: rgba(0, 152, 219, 0.1);
    } }

  .questionText {
    color: #005590;
    border-bottom: 1px solid #dcdcdc;
}
  
//Changing radio buttons

.input[type="radio"] {
  border-radius: 0px;}

  .input[type="radio"]:checked {
    background: #0f9aec;
  &:focus  {
      box-shadow: 0px 0px 2px 2px #5b9dd9; 
    }
  }

// changing buttons of the QUESTION TOOL, ugly as I have to override eveyrthing with important
.multipleChoiceForm
    input[type="submit"] {
    // .question-submit {
            border: 1px solid #15597e !important;
            border-radius: 4px;
            background: #ffffff !important;
            font-family: "Open Sans", sans-serif;
            font-size: 1em;
            line-height: 18px;
            text-decoration: none;
            text-transform: none;
            cursor: pointer;
            -moz-appearance: none;
            -webkit-appearance: none;
            box-shadow: none;
            align-items: center;
            min-width: 30px;
            height: 30px;
            color: #15597e !important;
            font-weight: 600 !important;
                }       
            

.multipleChoiceForm
         input[type="submit"]:hover { 
            color: #15597e !important;
            text-decoration: none;
            background: #F7F9FA !important;
            border-color: #15597e;
            box-shadow: none;
}

.linkCell .addStudentContent
{
  display: inline-block;
  margin: 0;
  padding: 7px 16px;
  border: 1px solid #15597e;
  border-radius: 4px;
  background: #15597e;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 18px;
  color: #fff !important;
  text-decoration: none;
  cursor: pointer; 
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  &:hover { 
  color: #15597e !important;
  }

}


// updating font for h2 - not sure about changing this due to global impact

h2 {
            color:#001231;
           // background-color: rgba(114,128,138,0.1);
            //padding:10px;

}

    // subpage button - applied manually //

.subpagestyle > .link-div {
    position: relative;
    color: white !important;
  }
  
  .subpagestyle > .link-div:hover,
  .subpagestyle > .link-div:active {
    color: black !important;
  }
  
  .subpagestyle > .link-div .fa-item-text {
    position: absolute;
    left: 18px;
    top: 0px;
  }
  
  .subpagestyle > a[href],
  .subpagestyle > .link-div .link-div-head a,
  .subpagestyle > .link-div > span > a  {
    display: inline-block;
    text-decoration: none;
    color: white !important;
  
    margin: 8px;
    padding: 15px 32px;
    background-color: rgba(0, 97, 149, 0.9);
    color:white;
  
    -webkit-box-shadow: 4px 2px 4px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 2px 4px -2px rgba(0,0,0,0.5);
    box-shadow: 4px 2px 4px -2px rgba(0,0,0,0.5);
  }
  
  .subpagestyle > .link-div .link-div-head a,
  .subpagestyle > .link-div > span > a {
    padding: 15px 15px 15px 32px;
    text-decoration: none;
    color: white !important;
  }
  
  .subpagestyle > .link-div > span > a {
    padding: 15px;
    min-width: 200px;
   // border-color: rgba(0, 97, 149, 1);
  }
  
  .subpagestyle > a[href]:hover,
  .subpagestyle > a[href]:active,
  .subpagestyle > .link-div .link-div-head a:hover,
  .subpagestyle > .link-div .link-div-head a:active,
  .subpagestyle > .link-div > span > a:hover,
  .subpagestyle > .link-div > span > a:active {
    text-decoration: none;
    color: black !important;
    background-color: rgba(168, 207, 228, 0.9);
  }
  
  .subpagestyle > a[href]:active,
  .subpagestyle > .link-div .link-div-head a:active,
  .subpagestyle > .link-div > span > a:active {
    -webkit-box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 4px -2px rgba(0,0,0,0.5);
  }
  
  .subpagestyle > .link-div > span > a:hover,
  .subpagestyle> .link-div > span > a:active {
    border-color: rgba(168, 207, 228, 1);
  }


// dark menu updates

//left hand navigation colour update

#toolMenuWrap {
  background: #005590; }

  #toolMenu ul li .Mrphs-toolsNav__menuitem--link {


    background-color: #005590;
    color: #ffffff;

    .Mrphs-toolsNav__menuitem--icon {

      color: #ffffff;

    }
  }

  #toolMenu ul li {
  border-bottom: 0px;   }
  

  // bottom buttons for subpage navigation

  // DOES NOT WORK - this div displays on ALL pages,even with those without subpages!!!! 
  // bottom light background to highlight navigation 
  // .bottomButtons {

   // background: rgba(21, 89, 126, 0.06);
   // padding: 10px;
    //border-radius: 5px;}

  // actual previous next buttons for the bottom

  .Mrphs-sakai-lessonbuildertool .navIntraTool .nextprev
 {
    background: #15597e;
    color: #FFF;
   
  }

  // actual previous next buttons for the top banner
  .Mrphs-sakai-lessonbuildertool .Mrphs-toolTitleNav .menuitem {

    background: #15597e;
    color: #FFF;
  }
*/
