.#{$namespace}sakai-lessonbuildertool{
	.navIntraTool{
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		border-bottom: 0px none;
		li{
			span{
				a{
					border-bottom: 1px solid $tool-border-color;
					display: inline-block;
				}
			}
		}
	}
	.portletBody > * {
		position: inherit;
		top: 0;
	}
	.mainList{
		list-style: none;
		padding: 0 0 0 0;
	}

	nav {
		&.#{$namespace}container--toolTitleNav {
			z-index: $z-1 !important;
		}
	}

	.navIntraTool { 
		
		.contentButton {
			z-index: $z-1;
		}

		& ~ div.itemclass {
			margin-top: 2em !important
		}
	}

	.column {
		border-color: darken($tool-menu-background-color, 20% );
	}
}