body.active-more-sites{
        overflow: hidden;
}

#portalMask{
	background: rgba(0,0,0,0.45);
	position: fixed;
}

#selectSiteModal {
	position: fixed;
    z-index: 1005;
	overflow: visible;
	@include transition( left 0.4s linear 0s );

	&.dhtml_more_tabs {
		background: $tool-menu-background-color;
		display: block;
		position: fixed;
		width: 60% ;
		max-height: 100%;
		box-shadow: 5px 0 50px 0px rgba(0,0,0,0.5);
		border-bottom-right-radius: $main-border-radius;
		border-bottom-left-radius: $main-border-radius;


		@media #{$phone}{
			width: 100%;
			height: 100%;
			top: 4.4em;
			left: 0;
			overflow: visible;
			position: absolute;
			padding: 0;
			box-shadow: 0px 0 0px 0px rgba(0,0,0,0);
			@include transition( left 0.26s linear 0s );
			
			&:after {
				display: none;
			}
		}
	}

	&.outscreen{
		left: 110%;
		max-width: 100%;
		display: none !important; //Important added by SAK-31260
		@media #{$phone}{
			display: none;
		}
	}

	&:after{
	    bottom: 100%;
		left: 95%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-bottom-color: $tool-menu-background-color;
		border-width: 7px;
		margin-left: -7px;
		outline: 0;
	}
}

#selectSite {

	.tab-pane {
		overflow-y: auto;
		overflow-x: hidden;
		border-bottom-right-radius: $main-border-radius;
		border-bottom-left-radius: $main-border-radius;
	}

	.tab-box {
		border: 1px solid $tool-border-color;
		padding: 5px 5px 5px 1em;
		background-color: $tool-background-color;
	}
	
	.tab-bar {
		list-style: none;
		padding: 0 0 0 0;

		> li:first-child {
			margin-left: 1em;

			@media #{$phone}{
				margin-left: 0.8em;
			}
		}
	}

	.tab-bar .tab-btn{
		display: inline-block;
		padding: 5px 2em 5px 2em;
		border: 1px solid $tool-border-color;
		border-bottom-width: 0;
		margin: 0;
		background-color: darken( $tool-background-color, 20% );
	}

	.tab-bar .tab-btn:hover{
		cursor: pointer;
	}

	.tab-bar .tab-btn.active{
		cursor: default;
		background-color: $tool-background-color;
	}

	.tab-bar .tab-btn.tab-disabled{
		color: lighten( $text-color, 50% );
	}

	.tab-bar .tab-btn.tab-disabled:hover{
		cursor:default;
	}

	.tab-bar{
		margin: 5px 0 0 0;
		position: relative;
		top: 1px;
		z-index: 2;

		@media #{$phone}{ 
			top: 2px;
		}
	}


	.tab-bar .favorites-tab-label {
		font-weight: $default-font-weight;
		font-size: $default-font-size;
		margin: 0.2em;
	}

    #selectSite-navbar{
		overflow: hidden;
		margin: 0;
		padding: 0;
	}

	.favorites-term-header {
		font-size: 1.4em;
		border-bottom: 1px solid $color-graylight; 
		padding-bottom: 0.2em; 
  		margin: 0 0 0.5em 0;
	}
}

ul#otherSitesMenu {
	margin: 0;
	padding: 0; 
	list-style: none;
	display: inline-block;

	@media #{$desktop}{
		padding: 0.5em 0.75em 0 0;
		width: 100%;
		text-align: right;
	}
	
	@media #{$phone} {
		margin-left: 5px;
	}

	li:not(.otherSitesMenuClose) {

		display: inline-block;

		a {
			@extend .button;
			@media #{$phone} {
				padding: 0.3em;
			}
		}
	}

	li.otherSitesMenuClose {
		display: inline-block;
		font-size: 1.5em;

		@media #{$phone} {
			display: none;
		}
	}
}


#otherSitesCategorWrap {
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;

	.fav-sites-term {
		margin-bottom: 2em;
	}

	.fav-sites-term:first-child {
		margin-top: 0;
	}

	.moresites-left-col {
 		display: inline-block;
		width: 49%;
		float: left;
		margin-right: 1%;

		@media #{$more-sites-single-column} {
			width: 100%;
			float: none;
		}

		.fav-sites-term:first-child .favorites-term-header {
			margin-top: 0;
		}
	}

	.moresites-right-col {
		display: inline-block;
		width: 49%;
		float: left;

		@media #{$more-sites-single-column} {
			width: 100%;
			float: none;
		}

		.fav-sites-term:first-child .favorites-term-header {
			margin-top: 0;
		}
	}
}

ul.favoriteSiteList,
ul.otherSitesCategorList {

	list-style: none;
	padding: 0 0 0 0;

	> li {
		display: block;
		border: 1px solid $tool-border-color;
		@include border-radius( $small-border-radius );
		max-width: 305px;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		margin: 0.3em;
		padding: 0.1em; // 0.5em 0.1em 0.5em;

	}
}

ul.otherSitesCategorList,
ul.organizeFavoritesList {

	li {
		display: inline-block;
		border: 1px solid darken( $background-color, 30% );
		background: darken( $background-color, 5% );
		max-width: 450px;

		@media #{$phone} {
			max-width: 270px;
		}

		&.is-selected {
			border: 1px solid darken( $tool-border-color, 30% );
		}

		a {
			color: $text-color;
			font-weight: 600;
			font-size: 0.9em;
			text-decoration: none;
			display: block;
		}

		> a {			
			width: 6%;
			max-width: 24px;
			float: left;

			&.toolMenus{
				display: inline-block;
			}

			@media #{$phone} {
				width: 10%;
			}
		}

		> a.toolMenus {
			@include clearfix;
			float: right;
			text-align: center;

			> i {
				padding: 0.5em;
			}
		}

		.fav-title {
			width: 80%;
			overflow: hidden;
			display: block;
			float:left;

			> a {
				display: block;
				padding: 0.3em;
				width: 100%;
			}
			
			&.toolMenus {
				display: inline-block;
			}
		}

		.fav-title:first-child {
			width: 90%;
		}

		> ul {
			@include clearfix;
		}
	}
}

#otherSiteSearch{
	display: block;

	@media #{$more-sites-single-column}{
		text-align: left;
		margin-bottom: 1em;
	}

	@media #{$desktop}{
		text-align: right;
	}

	label{
		color: $text-color;
	}

	margin: 1em 1em 0 0;

	#txtSearch {
		width: 18em;
		min-height: 2em;

		border: 1px solid $color-gray;
		@include border-radius($small-border-radius);
		box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1) inset;
		box-sizing: border-box;

		@media #{$phone}{
			width: 95%;
		}
	}

	.other-site-search-clear {
		position: relative;
		text-decoration: none;
		font-family: 'FontAwesome';
	}

	.other-site-search-clear:before {
		position: absolute;
		top: -5px;
		right: 8px;
		content: '\f057';
		font-family: 'FontAwesome';
		color: #ccc;
		font-size: 1.2em;
		line-height: 1.5em;
		text-align: right;
	}
}

.otherSiteToolIcon{
	padding-right: 0.5em;
}

ul#otherSiteTools {
	list-style: none;
	padding-left: 0;
	padding-bottom: 0.4em;
	margin-top: 32px;
	margin-left: 0.6em;

	li {
		font-family: $header-font-family;
		border: 0;
		display: block;

		a {
			color: $text-color;
			text-decoration: none;
			font-size: 0.8em;
			font-weight: normal;
			padding: 0.3em 0;

			&:hover, &:active {
				color: $link-color;
				text-decoration: underline;
			}
		}

		.otherSiteToolIcon {
			display: inline-block;
        }

		.icon-sakai-see-all-tools {
			display: none;
		}
	}
}

div.fav-title-myworkspace {
	width: 264px;
	
	a {	
		.fa-home {
			font-size: 1.33333em;
			padding-right: 6px;
		}
		
		&:hover {
			text-decoration: none;
		}
	}
	
}

@media #{$phone} {
	.tab-bar {
		display: none;	
	}
}

#organizeFavorites {
	padding-left: 1em;

	@media #{$phone} {
		.heading{
			display: none;
		}
	}
}

.tab-btn.organizeFavorites{
	.favorites-desktop{
		display: inline;
	}
	.favorites-mobile{
		display: none;
	}
	.favoriteCount{
		display: inline-block;
	}

	@media #{$phone}{
		.favorites-desktop{
			display: none;
		}
		.favorites-mobile{
			display: inline;
		}
	}
}

.organizeFavoritesList {
	list-style: none;
	padding: 0 0 0 0;

	li.fav-sites-entry {
		@include clearfix;
		float: none;
		display: block;

		.fav-drag-handle {
			display: block;
			float: right;
			padding: 0.4em 0.6em;
			color: $tool-border-color;
			cursor: move; /* fallback if grab cursor is unsupported */
			cursor: grab;
			cursor: -moz-grab;
			cursor: -webkit-grab;

			@media #{$phone}{
				display: none;
			}
		}
		
		.fav-drag-handle:active{
			cursor: grabbing;
			cursor: -moz-grabbing;
			cursor: -webkit-grabbing;
		}

		.site-favorite-btn{
			padding-right: 0.5em;
		}

		&.ui-sortable-placeholder {
			height: 36px;	
		}
	}
}

#organizeFavoritesPurgatoryList{
	.fav-drag-handle{
		display: none;
	}
	a{
		color: darken($background-color-secondary, 10%);
		.fullTitle{
			color: darken($background-color-secondary, 10%);
		}
	}
}

.site-favorite-icon.site-favorite:before{
	@extend .fa;
	@extend .fa-star;
	color: #F49D08;
}

.site-favorite-icon.site-nonfavorite:before{
	@extend .fa;
	@extend .fa-star-o;
	color: #CDCDCD;
}

.site-favorite-icon.site-workspace:before{
	@extend .fa;
	@extend .fa-home;
	color: #000;
}


.site-favorite-icon {
	font-size: 1.3em;
	display: inline-block;
	position: relative;
	top: 0px;
	padding: 0.1em 0.1em 0.1em 0.3em;
}

.site-favorite-icon.site-favorite:hover {
	text-shadow: -1px 0 #F49D08, 0 1px #F49D08, 1px 0 #F49D08, 0 -1px #F49D08;
}

.site-favorite-icon.site-nonfavorite:hover:before {
	color: #999;
}

.moresites-refresh-notification{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 13px;
	border: 1px solid $tool-border-color;
	z-index: 1000;
	display: inline-block;

	@include transition(background-color 0.2s, color 0.2);

	//-webkit-transition: background-color 0.2s, color 0.2s;
	//-moz-transition: background-color 0.2s, color 0.2s;
	//-ms-transition: background-color 0.2s, color 0.2s;
	//-o-transition: background-color 0.2s, color 0.2s;
	//transition: background-color 0.2s, color 0.2s;

	background-color: #f7e084;
	color: #000 !important;
	text-align: center;
	padding: 6px 8px;
	border-radius: 3px;
	text-decoration: none;

	a
	{
		display: inline-block; // to override flex on login links
		color: $primary-color;
	}

	@media #{$phone}{
		display: none;
	}
}
