.#{$namespace}multipleTools {
	.#{$namespace}toolTitleNav {
		.#{$namespace}toolTitleNav__title {
			display: inline-block;
			color: $color-gray-dark;
			font-size: 1em;
			font-weight: 600;
			letter-spacing: 1px;
			margin: 0px;
			//position: relative;
			//text-transform: uppercase;
			//width: calc(100% - 90px);
			//z-index: 21;

			a {
				color: $link-color;
				font-weight: 400;
				margin-right: 0.25em;

        &:hover {
    			color: $link-hover-color;
    		}

        &:active {
          color: $link-active-color;
        }
			}
		}
	}
}

.#{$namespace}toolTitleNav {
	margin: 1em 0 0 0;
	padding: 0.5em;
	position: relative;

	.#{$namespace}toolTitleNav__title {
		display: none;
		& ~ .#{$namespace}toolTitleNav__button_container > .#{$namespace}directUrl__dropDown{
			display: none;
			.dropDown_close{
				color: #952525;
				cursor: pointer;
				float: right;
				@media #{$phone}{
					font-size: 1.4em;
				}
			}
			&.active{
				padding: 0.8em;
				position:   absolute;
				display:    block;
				background: #FFF;
				width: 250px;
  				margin: 10px 0 0 -250px;
  				z-index: 2;
				box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
				label{
					font-size: $default-font-size;
					margin: 5px 0 0px 5px;
					vertical-align: middle;
				}
				textarea{
					display: block;
					height: 120px;
					margin: 0.5em 0 0 0;
					width: 98%;
				}
				@media #{$phone}{
					margin: -1px 0 0px -214px;
				}
			}
		}
	}

	.#{$namespace}toolTitleNav__button_container {
		float: right;
		display: block;
		position: relative;
		top: -2px;
		z-index: $z-1;
		//margin: 0px 0 -20px 0;

		@media #{$tablet} {
			//left: 0.35em;
			font-size: 1.2em;
			margin: 0px 0 0px 0;
			top: -4px;
			z-index: 1;
		}
	}

	.#{$namespace}toolTitleNav__link {
		color: darken($color-primary, 12%);
		//border: 1px solid #e0e0e0;
		//background: $tool-tab-background-color;
		margin-right: 0.25em;
		padding: 5px 8px;
		text-decoration: none;
		vertical-align: 0%;
    font-size: 1.25em;
    border-radius: 3px;

    span {
      display: none;
    }

		&:hover {
			background: $tool-menu-background-color;
			color: $primary-color;
			text-decoration: none;
		}

		@media #{$tablet} {
			background: $tool-menu-background-color;
			border: 0px none;
			color: $primary-color;
			margin-right: 0em;
      font-size: 1em;
		}

		/*@media #{$tablet}{
			background: transparent;
		}*/

		//@include icon();
		&--directurl {
			@extend .fa;
			@extend .fa-link;
			//@extend .fa-lg;
			/*position: absolute;
			right: #{$icon-size * 1.5};*/
		}

		&--help-popup {
			@extend .fa;
			@extend .fa-question;
			//@extend .fa-lg;
			/*position: absolute;
			right: 0;*/
		}
		&--edit {
			@extend .fa;
			@extend .fa-pencil;
			//@extend .fa-lg;
			/*position: absolute;
			right: #{$icon-size * 3};*/
		}
		&--reset {
			@extend .fa;
			@extend .fa-share;
			//@extend .fa-lg;
			display: none;
			font-size: 0.9em;
			float: left;
		}

		.#{$namespace}itemTitle {
			font-family: $font-family;
			/*font-size: $default-font-size;*/
			text-transform: uppercase;
			font-size: 0.8em;
			letter-spacing: 1px;

			@media #{$tablet} {
				display: none;
			}
		}
	}
}

.is-logged-out {
	
	.#{$namespace}toolTitleNav {
		display: none;
	}
}

.#{$namespace}toolBody {
	background: $tool-background-color;
	//border-bottom: 1px solid $tool-border-color;
	iframe{
		margin: 0 0 0 0;
		width: 100%;
	}
}

body > .portletBody, .portletBody {

	background: $tool-background-color;
	//padding: 0.6em 0.6em 1em 0.6em; //$default-font-size $default-font-size 40px $default-font-size;
	margin: 0 0.3em;

	> * {
		position: relative;
		//top: -2px;
	}

	&.container-fluid {
		padding: 0 0.5em;		
	}

  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3, h4 {
    font-size: 1.2em;
  }

  .page-header {
    padding-bottom: 0; //(($line-height-computed / 2) - 1);
    margin: 0; //($line-height-computed * 2) 0 $line-height-computed;
    border-bottom: 0px solid white;

    h1 {
      font-size: 1.2em;
    }

    h2 {
      font-size: 1.1em;
    }

    h3, h4 {
      font-size: 1em;
    }
  }

  legend{
    padding: 0;
    margin-bottom: 0;
    font-size: 1em;
  }

  .table-responsive {
      border: 0px none;

      .table-bordered {
        border: 1px solid #ddd;
      }

  }

  table {

      a[data-toggle=collapse] {
        color: $text-color;
        text-decoration: none;
        font-size: 1em;

        @include fa-icon($fa-var-sort-down, before, inline, 0, 0 0.5em 0 0, inherit, inherit, normal, inherit, relative);

        &:hover, &:active {
          color: $link-hover-color;
        }
      }

      fieldset {
        margin-bottom: 1em;
      }

	  label {
		  font-size: 0.9em;
		  font-weight: $weight-regular;
	  }
  } // table 

} // portletBody


.#{$namespace}toolBody--sakai-iframe-service {

  .portletBody {
    padding: 0;
  }
}


.itemNav {
	float: right;
	vertical-align: bottom;
	text-align: right;
	line-height: 2em;
	clear: both;
	margin: 1em 0em 0.5em 0;
	white-space: nowrap;
	a {
		white-space: nowrap;
	}
	@media #{$phone}{
		text-align: center;
		white-space: normal;
		input[type="text"], input[type="button"], input[type="reset"], input[type="submit"],button {
			margin: 0.25em 0.1em 0.25em 0;
		}
	}

}

.validationEmbedded, .validation {
	@extend .bs-callout-primary;
}

.alertMessage {
	@extend .bs-callout-danger;
}

.static {
	font-size: 1em;
	text-align: center; 

	> div {	
		width: 30%;
		margin: 4em auto auto;
		text-align: left; 

		h2 {
			padding: 2em 0 3em 5.2em;

			background-image: url("images/logo_b.png");
			background-repeat: no-repeat;
			background-position: top left;
			background-size: 100px;
		}

		@media #{$tablet} {
			width: 60%;
			margin: auto;

			h2 {
				background-size: 60px;
				padding: 1em 0 1em 3.4em;
			}
		}

		@media #{$phone} {
			width: 90%;
			margin: auto;

			h2 {
				background-size: 40px;
				padding: 0 0 1em 2.6em;
			}
		}
	}
}