.#{$namespace}sakai-announcements{
	table{
		h4 + div.itemAction {
			margin: 0.1em 0 0 0em;
		}
		.lightHighLightRow{
			border-top: 3px solid #ddd;
		}
	}
	.showHideDates{
		margin: 0 0 1em 3em;
		.form-group{
			margin: 6px 0 0px 0;
		}
		.checkbox{
			width: 95px;

			label {
				margin-top: 3px; // [UCT] Spacing
			}
		}

		// [UCT] Datepicker text
		input.hasDatepicker {
			line-height: 30px; 		// to match the date picker buttons' height
			@extend .default-input;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
			border-right-width: 0px;
		}
		
		button.ui-datepicker-trigger {
			margin-left: 0px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}
	.merge-list{
		max-width: 1000px;
	}
	#reorder-list-sortingToolBar, #reorder-list{
		max-width: 1200px;
	}
	.message-body{
		background-color: darken( $tool-background-color, 5% );
		padding: 15px;
		margin-bottom: 20px;
		border: 1px solid darken( $tool-background-color, 10% );
		border-radius: 4px;		
	}
	#groupTable{
		button.multiselect-clear-filter{
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			background-color: #eee;
		}
	}
}
