@import "font-awesome";

@mixin fa-icon(

    // Required Values
    $fa-icon,

    // Optional Values
    $pseudo-position: before,
    $display-value: inline,
    $margin: 0,
    $padding: 0,
    $color: inherit,
    $font-size: 12px,
    $font-weight: normal,
    $line-height: 1,
    $position: inherit,
    $transform: none
) {

    &:#{$pseudo-position} {
        content: $fa-icon;
        color: $color;
        font-family: FontAwesome;
        font-size: $font-size;
        font-style: normal;
        font-weight: $font-weight;
        line-height: $line-height;
        display: $display-value;
        margin: $margin;
        padding: $padding;
        position: $position;
        transform: $transform;
        @include font-smoothing(on);
    }
}

@mixin fa-icon-color($pseudo-position, $color) {

    &:#{$pseudo-position} {
        color: $color;
    }
}

@mixin fa-icon-float($pseudo-position, $float) {

    &:#{$pseudo-position} {
        float: $float;
    }
}

.Mrphs-toolsNav__menuitem--icon{
	display: block;
	line-height: 1.25;
	text-align: center;
}


@if $skin-with-icons {
	[class^="icon-sakai"],
	[class*=" icon-sakai"] {
		@extend .fa-lg;
		@extend .fa;
	}

	.icon-sakai-iframe-site{ 				@extend .fa-list-ul;}
	.icon-sakai-motd{ 					@extend .fa-list-ul;}

	/* when we're showing the motd tool as "Welcome" on the gateway page,
	   use a different icon. */
	a.Mrphs-hierarchy-item.Mrphs-hierarchy--toolName[href*="!gateway"] .icon-sakai-motd, a.Mrphs-toolsNav__menuitem--link[href*="!gateway"] .icon-sakai-motd{
		@extend .fa-sign-in;
	}

	.icon-sakai-syllabus{					@extend .fa-map-o;}
	.icon-sakai-schedule{					@extend .fa-calendar;}
	.icon-sakai-signup{					@extend .fa-calendar-check-o ;}
	.icon-sakai-resources{					@extend .fa-folder-open;}
	.icon-sakai-dropbox{					@extend .fa-exchange;}
	.icon-sakai-assignment-grades{				@extend .fa-file-text;}
	.icon-sakai-samigo{					@extend .fa-check-square-o;}
	.icon-sakai-gradebook-tool{				@extend .fa-book;}
	.icon-sakai-gradebookng{				@extend .fa-book;}
	.icon-sakai-announcements{				@extend .fa-bullhorn;}
	.icon-sakai-chat{					@extend .fa-comments-o;}
	.icon-sakai-rwiki{ 					@extend .fa-edit;}
	.icon-sakai-mailbox{					@extend .fa-envelope-o;}
	.icon-sakai-emailtemplateservice{			@extend .fa-envelope;}
	.icon-sakai-news{					@extend .fa-rss;}
	.icon-sakai-simple-rss{					@extend .fa-newspaper-o;}
	//.icon-sakai-basiclti{					@extend .fa-globe;}
  .icon-sakai-messages{					@extend .fa-inbox;}
	.icon-sakai-dashboard{					@extend .fa-dashboard;}
	.icon-sakai-site-roster2{				@extend .fa-users;}
	.icon-sakai-sections{					@extend .fa-user;}
	.icon-sakai-resetpass{					@extend .fa-user;}
	.icon-sakai-createuser{					@extend .fa-user-plus;}
	.icon-sakai-realms{					@extend .fa-sitemap;}
	.icon-sakai-profile2{					@extend .fa-user;}
	.icon-sakai-membership{					@extend .fa-users;}
	.icon-sakai-singleuser{					@extend .fa-user;}
	.icon-sakai-help{					@extend .fa-question-circle;}
	.icon-sakai-preferences{				@extend .fa-gear;}
	.icon-sakai-siteinfo{					@extend .fa-gear;}
	.icon-sakai-sitesetup{					@extend .fa-gears;}
	.icon-sakai-iframe{					@extend .fa-globe;}
	.icon-sakai-sitebrowser{				@extend .fa-globe;}
	.icon-sakai-search{					@extend .fa-search;}
	.icon-sakai-poll{					@extend .fa-bar-chart;}
	.icon-sakai-mailtool{					@extend .fa-envelope-o;}
	.icon-sakai-lessonbuildertool{				@extend .fa-leanpub;}
	.icon-sakai-lessonbuildertool{				@extend .fa-leanpub;}
	.icon-sakai-sitestats{					@extend .fa-pie-chart;}
	.icon-sakai-sitestats-admin{				@extend .fa-pie-chart;}
	.icon-sakai-forums{					@extend .fa-comments;}
	.icon-sakai-podcasts{					@extend .fa-microphone;}
	.icon-sakai-postem{					@extend .fa-sticky-note-o;}
	.icon-sakai-users{					@extend .fa-users;}
	.icon-sakai-su{						@extend .fa-user-secret;}
	.icon-sakai-usermembership{				@extend .fa-user;}
	.icon-sakai-aliases{					@extend .fa-tags;}
	.icon-sakai-sites{					@extend .fa-list;}
	.icon-sakai-archive{					@extend .fa-archive;}
	.icon-sakai-online{					@extend .fa-server;}
	.icon-sakai-memory{					@extend .fa-hdd-o;}
	.icon-sakai-scheduler{					@extend .fa-clock-o;}
	//.icon-sakai-basiclti-admin{				@extend .fa-globe;}
	.icon-sakai-adminsiteperms{				@extend .fa-sliders;}
	.icon-sakai-message-bundle-manager{			@extend .fa-gear;}
	.icon-sakai-delegatedaccess{				@extend .fa-hand-o-right;}
	.icon-sakai-web-168{					@extend .fa-globe;}
	.icon-sakai-pasystem{					@extend .fa-bell;}
	.icon-sakai-feedback{					@extend .fa-paper-plane-o;}
	.icon-sakai-subsite{					@extend .fa-level-up;}
	.icon-sakai-subsites-list{				@extend .fa-level-down; }
	.icon-sakai-home{					@extend .fa-university;}
	.icon-sakai-delete{					@extend .fa-times;}
	.icon-sakai-pdf{					@extend .fa-file-pdf-o;}
	.icon-sakai-clip{					@extend .fa-paperclip;}
	.icon-sakai-check{					@extend .fa-check;}
	.icon-sakai-rsf-evaluation{				@extend .fa-commenting;}
	.icon-sakai-bbb{					@extend .fa-video-camera;}
	.icon-sakai-oauth{					@extend .fa-key;}

  // Custom Icons
  .icon-sakai-site-roster { @extend .fa-users; }
  .icon-sakai-profilewow { @extend .fa-user; }
  .icon-sakai-blogwow { @extend .fa-newspaper-o; }
  .icon-sakai-qna { @extend .fa-quora; }
  .icon-osp-glossary { @extend .fa-bookmark; }
  .icon-sakai-groupmanager { @extend .fa-th-large; }
  .icon-sakai-permissions-helper { @extend .fa-lock; }
  .icon-sakai-sms-user { @extend .fa-envelope; }
  .icon-sakai-feeds { @extend .fa-rss; }

  .icon-sakai-basiclti{					@extend .fa-plug;}
  .icon-sakai-basiclti-admin {
      @include fa-icon($fa-var-plug, after, inline-block, 0, 0);
      @include fa-icon($fa-var-pencil, before, inline-block, 0 0 0 -0.5em, 0, inherit, 50%, normal, 1, absolute, rotateY(180deg));
  }
}
