.#{$namespace}siteHierarchy {
	//$svg-gradient-shim-threshold: 1 !global;
	background: linear-gradient( to right, $header-gradient-a, $header-gradient-b, $header-gradient-c, $header-gradient-d);
	box-shadow: 0 10px 6px -10px rgba(0, 0, 0, 0.6) inset;
	min-height: $hierarchy-size;

	h1 {
		color: $background-color;
		font-weight: 300;
		margin: 0 0 0 0;
	}

	a {
		color: $breadcrumbs-color;
		margin: 0 0.5em 0 0.5em;
		padding: 0em 0em 0.2em 0em;
		text-decoration: none;

    &:hover {
			text-decoration: none;
		}
	}

	.Mrphs-hierarchy--parent-sites{
		display: block;
	}

	/* Show the breadcrumbs on multiple rows (when there are parent sites), and use hover animations */
	@media #{$nonPhone}{
		min-height: initial;
		padding: 0.75em 0 0.75em 1em;

		.#{$namespace}hierarchy--siteName a, .#{$namespace}hierarchy--1 a {
			/* Since we'll start on our own line, don't pad */
			margin-left: 0;
		}

		a:hover, a:active {
			color: $breadcrumbs-hover-color;
			border-bottom: 1px solid $breadcrumbs-hover-color;
		}

		.#{$namespace}breadcrumb--icon {
			display: inline-block;
			text-align: right;
      		margin: 0 0.12em 0 0.36em;
			//width: 24px;
		}

		a.#{$namespace}hierarchy--toolName {
			color: $breadcrumbs-tool-color;
			//text-transform: uppercase;
			font-size: 102%;
			font-weight: 600;
			margin-left: 0;

      > span {
        display: inline-block;
      }

      &:hover span,
      &:active span {
  			color: $breadcrumbs-hover-color;
  		}

			.#{$namespace}breadcrumb--reset-icon {
				display: none;
			}
		}
/*
		a.#{$namespace}hierarchy--toolName:hover{
      color: $breadcrumbs-hover-color;
			border-bottom: 1px solid $breadcrumbs-hover-color;


			.#{$namespace}breadcrumb--icon{
				display: none;
			}
			.#{$namespace}breadcrumb--reset-icon{
				width: 24px;
				text-align: right;
				display: inline-block;
			}
		}
*/
		.Mrphs-hierarchy--parent-sites{
			display: block;
			font-size: 90%;
			font-weight: 200;
			margin-bottom: 5px;
		}
	}

	@media #{$phone} {
		padding: 1em;
		background-color: $color-secondary; //$primary-color;
		background-image: none;
		color: $background-color;
		position: fixed;
		top: 7.15em;
		width: 100%;
		z-index: $z-10;
		@include transition( top 0.25s linear 0s );
		
		&.moving {
			top: -22.2em;
		}

		h1 {
			color: $background-color;
		}

		a {
			border-bottom: 0px none;
			color: $background-color;
			font-size: 0.9em;
			.#{$namespace}breadcrumb--icon{
				font-size: 0.95em;
				vertical-align: 15%;
			}
			&:hover{
				color: $background-color;
			}
		}
		.#{$namespace}hierarchy--siteName a:hover{
			text-decoration: underline;
		}

		a.#{$namespace}hierarchy--toolName:hover{
			border-bottom: 1px solid  $background-color;
		}

		.#{$namespace}hierarchy--serviceName, .#{$namespace}hierarchy--serviceNameSeparator{
			display: none;
		}

		.#{$namespace}breadcrumb--reset-icon {
			display: none;
		}

		.buttonset {
			display: none;
		}
	}
}

.#{$namespace}breadCrumbs {
	margin:auto;
	max-width: calc( 50% - 3em);
}

.is-logged-out {
	.#{$namespace}siteHierarchy {

		* {
			display:none;
		}
	}

	@media #{$phone} {

		.#{$namespace}siteHierarchy {
			display:none;
		}
	}
}