@import "../base/compass";

//.#{$namespace}
.is-logged-out {
	#content, .#{$namespace}container--footer{
		margin: 0.5em; //2em;

		@media #{$phone} {
			margin: 5em 0 0 0;
			
				&.help {
					margin: 0.2em;
				}
		}

		&.help {
			margin: 0.5em;
		}
	}

	.#{$namespace}container--footer {
		@media #{$phone} {
			margin: 2em 0 0 0;
			border-radius: 0;
		}
	}

	.#{$namespace}topHeader {
		@media #{$phone} {
			&.moving {
	    		top: -12em;
	    	}
	    }
    }
}

.#{$namespace}portalWrapper {
	position: relative;
}

#pageBody{
	@include align-items(stretch);
	@include display-flex(flex);
	@include flex-direction(row);
	> .#{$namespace}pagebody{
		width: 100%;
	}
	@media #{$phone}{
		//padding: 12px;
	}
}

#content, .#{$namespace}container--footer{
	margin: 0.5em; //2em;

	@media #{$phone} {
		margin: 8em 0 0 0;

			&.help {
				margin: 0.2em;
			}
	}

	&.help {
		margin: 0.5em;
	}


	#col1of2, #col2of2 {
		
		display: inline-block;
		margin: 0 0 0 1%;
		vertical-align: top;

		@media #{$phone}{
			display: block;
			width: 100%;
		}
	}

	#col1of2 {
		width: 66%;
	}

	#col2of2{
		width: 32%;
	}
}

#content.help {

	.button {
		border-color: darken($color-success, 10%);
		@include linear-gradient( lighten($color-success, 60%), lighten($color-success, 40%));

		&:hover {
		   @include linear-gradient( lighten($color-success, 40%), lighten($color-success, 20%));
		}

		&:active {
			@include linear-gradient( lighten($color-success, 20%), lighten($color-success, 40%));
		}
	}
}

.#{$namespace}mainContent{
  background: $main-content-background;
}

.#{$namespace}pageColumns--single, .#{$namespace}footer{
	margin: 0 1em 1em 1em;
	clear: both;
	@media #{$phone}{
		margin: 0 0 0 0;
	}
}

.#{$namespace}container--footer {
	background: $footer-background;
  border: 1px solid darken( $footer-background, 10% );
  @include border-radius($main-border-radius);
	margin: 2em;

	@media #{$phone}{
		margin: 2em 0 0 0;
		@include border-radius(0);
		border-left-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 0px;		
	}
}

.#{$namespace}footer {
	color: $footer-color;
	font-size: 0.66em;
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
  }

  ul > li {
    display: inline-block;
    list-style: none;
  }

  .#{$namespace}footer--nav__project--copyright {
    display: none;
  }

  a {
    color: $footer-color;
    text-decoration: none;

    &:hover, &:active {
      text-decoration: underline;
    }
  }

	#footer-links {
		padding: 1em;

    a {
      font-size: 1.25em;
      border-left: 1px solid darken( $footer-background, 10% );
      padding: 0 0.6em 0 0.8em;
    }

    li:first-child {
      a {
        border-left-width: 0px;
      }
    }
	}

  details {
    color: $color-gray-dark;
    margin: 0.4em;
  }

  details > summary {
    display: inline-block;
    font-weight: 700;
  }

  details > p {
    display: inline-block;
    margin: 0;
  }
}

.#{$namespace}noJs.js-warn-no-js
{
	position: fixed;
	bottom: 0;
	left: 10%;
	width: 80%;
	padding: 1em;
	z-index: 200;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #c00;
	font-size: 1.143em;
	text-align: center;
	color: #fff;
}
