.#{$namespace}sakai-dropbox {
    .recentItem{
        padding: 2px;
        background: url(/library/image/sakai/new_item_back.gif) top right no-repeat;
    }

    .recentItemInstruction{
        padding: 0 6px; // UCT - slight spacing fix
        background: url(/library/image/sakai/new_item_back_inst.png) center left no-repeat;
    }

    .form-group { // UCT - form group input sizing

        input[name=right], input[name=dbright], input[name=left], input[name=dbleft] {
            min-width: 3em;
            margin: 0.8em;
        }
    }

    // The alertMessage div is hidden by default and will be rendered by js if form validation warnings are to be shown
    div.alertMessage {
        display: none;
        clear: both;
    }
}
