// changing the background of the checklist [UCT]-TJ
.column {
    .checklistDiv {
        background-color: transparent;
        border-radius: 1px;
        border: 1px solid $dark-blue-border;  // [UCT] Changing the border color to blue - NM
        background-color: $blue-opacity; // [UCT] Changing the background color to blue - NM
        box-shadow: $std-shadow;
    }
}

