// changing the background of the checklist [UCT]-TJ
.column {
    .checklistDiv {
        background-color: transparent;
        border-radius: 1px;
        background-color: $blue-opacity; // [UCT] Changing the background color to blue - NM
        box-shadow: $std-shadow;
    }
}

